---
---

@import "{{ site.theme }}";

.col{
    text-align: justify;
}

#menu{
    padding-top: 10px; 
    padding-bottom: 10px;
    /*min-width: 300px;*/
}

@media screen and (max-width: 767px){
  #menu {
    min-width: 100%;
  }
}

.list-group-item{
    background-color: #4c651b !important;
}

#texto{
    padding-top: 10px;
    color: white;
}
#subtitulo{
    color: white;
}
#footer{
    color: white;
}
a{
    color: #b5e853 !important;
}
a:hover{
    text-decoration: none !important;
    color: #e0ffa3 !important;
}

.fa-map-marker-alt:before{
    color: #b5e853;
    padding-right: 4px;
}

.fa-envelope:before{
    color: #b5e853;
    padding-right: 4px;
}

.fa-linkedin:before {
    padding-right: 4px;
}
