---
---

@import "{{ site.theme }}";

body {
    background-color: #949A9A !important;
    background-image: none !important;
    /*   background-position-x: 0px;
        background-position-y: 0px;*/

    /*qualquer coisa tirar esse background-img pra ficar preto*/
}


.yellow-color-h1{
color: #FFCA0B !important
}

.yellow-color-border-bottom-header{
    border-bottom:1px dashed #FFCA0B !important;
}



.col{
    text-align: justify;
}

.img-container {
    text-align: center;
    display: block;
}

#menu{
    padding-top: 10px; 
    padding-bottom: 10px;
    /*min-width: 300px;*/
}

@media screen and (max-width: 767px){
  #menu {
    min-width: 100%;
  }
}

.list-group-item{
    background-color: #FFCA0B !important;
}

#texto{
    padding-top: 10px;
    color: white;
}
#subtitulo{
    color: white;
}
#footer{
    color: white;
}
a{
    color: black !important;
    text-shadow: none !important;
}
a:hover{
    text-decoration: none !important;
    color: #949A9A !important;
}

.fa-map-marker-alt:before{
    color: #FFCA0B;
    padding-right: 4px;
}

.fa-envelope:before{
    color: #b5e853;
    padding-right: 4px;
}

.fa-linkedin:before {
    padding-right: 4px;
}
