---
---

@import "{{ site.theme }}";

.col{
    text-align: justify;
}

#menu{
    padding-top: 10px; 
    padding-bottom: 10px;
    min-width: 360px;
}

.list-group-item{
    background-color: #4c651b !important;
}
.fa{
    color: #b5e853;
}

#texto{
    padding-top: 10px;
    color: white;
}
#subtitulo{
    color: white;
}
#footer{
    color: white;
}
a{
    color: #b5e853 !important;
}
a:hover{
    text-decoration: none !important;
    color: #e0ffa3 !important;
}
