---
---

@import "{{ site.theme }}";

body {
    background-color: #94d2b3 !important;
}

.col{
    text-align: justify;
}

#menu{
    padding-top: 10px; 
    padding-bottom: 10px;
    min-width: 360px;
}

#texto{
    padding-top: 10px;
    color: white;
}
#subtitulo{
    color: white;
}
