<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <h1 class="project-name">Kelvin Rodrigues</h1>
      <h2 class="project-tagline">Bacharel em Sistemas de Informação</h2>
    </header>


    <main role="main">
     
      <div class="container">
        <div class="row">
          <div class="col col-sm-4">
            <img>
            <ul class="list-group">
              <li class="list-group-item">Linkedin</li>
              <li class="list-group-item">Github</li>
              <li class="list-group-item">Páginas</li>
            </ul>
              

          </div>
          <div class="col .col-sm-6">
            Bacharel em Sistemas de Informação pela UFMS-CPAN. Com experiência de estágios em desenvolvimento Web, pesquisa e assistência na gestão de TI. Trabalhou back-end com Laravel e PHP; trabalhou front-end com ReactJS. Trabalhou com banco de dados, utilizando MySQL e MongoDB. Habilidades em design,conhece as técnicas para prover boa interação humano computador e sabe trabalhar com HTML e CSS. Tem conhecimento em engenharia de software, já trabalhou com metodologias ágeis como scrum. Empenhado em manter competências técnicas de última geração, tem conhecimento das ferramentas utilizadas na atualidade do mercado, como ReactJS, MongoDB, Boostrap, NodeJS e Laravel.

          </div>
        </div>
      </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
